<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nimbus Pipeline Portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    </head>
    <body class="bg-dark" data-bs-theme="dark">
      <!-- Parent Flex Container -->
      <div class="d-flex flex-column bg-dark bg-body-tertiary">
      <!-- Top Navigation Bar -->
      <nav class="d-flex flex-row navbar bg-dark navbar-expand-lg bg-body-tertiary border-bottom border-primary rounded-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Nimbus</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Upload</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search...</button>
            </form>
          </div>
        </div>
      </nav>
        <!-- Left Side Navigation -->
        <div class="d-flex flex-row bg-dark bg-body-tertiary" style="width: calc(100vw - 15px);">
        <!-- Row Flex Container-->
      <div class="d-flex flex-column col-md-1 border-end border-primary rounded bg-dark bg-body-tertiary" style="height: calc(100vh - 57px);">
          <ul class="nav mb-auto nav-tabs flex-column border-bottom-0 flex-fill-1 text-center list-group-flush">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <div class="card flex-fill-1">
            <img src='#' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Account & Settings</h5>
              <ul class="nav flex-column text-end">
                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Settings
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="text-center"><a href="#" class="btn btn-primary">Settings...</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav flex-column text-end">
                <li class="nav-item dropend">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="text-center"><a href="#" class="btn btn-primary">Account...</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- True Body -->
        {% block content %}{% endblock %}
      </div>
        </div>
        </div>
      </div>
    </body>
    <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
</html>